<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row d-flex justify-content-center">
        <h2>Наименование товара:   {{banner.title}}</h2> 
      </div>   
    </div>
    <div class="form-group">
      <div class="row d-flex justify-content-center">
        <p><img src="{{ banner.image.url }}" class="img-fluid" alt=""></p>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="row">
        Описание:    {{banner.description}}
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        Автор:    {{banner.author}}
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        Стоимость:    {{banner.price}} Тенге
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        Кол-во:    {{banner.amount}}
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        Дополнительная информация:    {{banner.addition}}
      </div>
    </div>
  </div>
</div>  


{% endblock %}