<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

</body>
</html>{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <div class="col-md-12">
    <div class="form-group">
      <div class="row d-flex justify-content-center">
        <h2>Наименование товара: {{banner.title}}</h2>
      </div>
    </div>
    <div class="form-group">
      <div class="row d-flex justify-content-center">
        <p><img src="{{ banner.image.url }}" class="img-fluid" alt=""></p>
      </div>
    </div>
    <br><hr>
    <div class="form-group">
      <div class="row">
        <h3>Описание: {{banner.description}}</h3>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <h4>Автор: {{banner.author}}</h4>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <h4>Стоимость: {{banner.price}} Тенге</h4>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <h4>Кол-во: {{banner.amount}}</h4>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        Дополнительная информация: {{banner.addition}}
      </div>
    </div>
  </div>
<br><br><br><br>
<h3>Ответы</h3>
<br><br><br>
  {% for answer in banner.answers.all %}
  
    <h2><p>{{answer}}</p></h2>
    <hr>
    <p>{{answer.pub_time}}</p>
    <h3>{{answer.text}}</h3>
    <hr><br><br><br>
    {% empty %}
    <li>No Answers</li>
    <br><br><br>
    {% endfor %}

    <form action="{% url 'adverts:leave_answer' banner.id %}"
          method="POST">
      {% csrf_token %}
      <p>Author: {{user.username}}</p>
      <div class="row">
            <textarea name="text" id="" cols="180" rows="10"></textarea>
      </div>
      <br>
      <div class="row">
        <button type="submit" class="btn btn-success">Оставить комментарий</button>
      </div>


    </form>
  </div>


{% endblock %}