{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="d-flex justify-content-center"><h1>{{category1.name}}</h1></div>
 <div class="album py-5 bg-light">
      <div class="container">
        <div class="row">

        {% for category2 in category1.category2.all %}
          <div class="col-md-12">
            <div class="list-group mb-12 shadow-sm">
              <h2>{{course.title}}</h2>
                <div class="d-inline-flex align-items-center">
                  <a class="list-group-item list-group-item-action" href="{% url 'adverts:detail2' category1.id category2.id %}" style="text-decoration:none; color: #000000;">{{ category2.name }}</a>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
    </div>


{% endblock %}