{% extends "base.html" %}
{% load static %}
{% block content %}


<main role="main">

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">

        {% for category1 in category1_list %}
        <div class="col-md-6">
          <div class="list-group mb-6 shadow-sm">
            <h2>{{course.title}}</h2>
            <div class="d-flex justify-content-between align-items-center">
              <a class="list-group-item list-group-item-action"
                 href="{% url 'adverts:detail' category1.id %}"
                 style="text-decoration:none; color: #000000;font-size: 20px;">{{ category1.name }}</a>
            </div>
            
          </div>
        </div>
        {% endfor %}
        <div class="col-12">
          <div class="list-group mb-4 shadow-sm ">
            
              <div class="d-flex justify-content-between align-items-center">
                <a class="list-group-item list-group-item-action bg-primary" href="{% url 'adverts:product' 1%}" style="text-decoration:none;text-align: center; color: #ffffff;font-size: 20px;"><h4>Для подписки на категорию первого уровня, нажмите сюда  </h4></a>
              </div>
              
            </div>
          </div>
      </div>
    </div>
  </div>



</main>


{% endblock %}