{% extends "base.html" %}
{% load static %}
{% block content %}
<span><h1>Объявления пользователя: {{user}}</h1></span>


  {% for banner in user.mybanners.all %}
    <div class="container"> 
      
      <hr>
      <div class="d-flex justify-content-between">
        <h2><p><a href="{% url 'adverts:banner_detail' banner.category3.parent_category.parent_category.id banner.category3.parent_category.id banner.category3.id banner.id %}">{{ banner.title }} </a></p></h2>
        
        <h3><p>{{ banner.price}} тенге</p></h3>
      </div>
      <hr>
    </div>
  {% empty %}
      <li>No detail</li>
  {% endfor %}


{% endblock %}